@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}

/* index.css */

/* @keyframes spin-variable-speed {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
   */
  /* Define your custom class using the keyframes */
  /* .animate-spin-variable-speed {
    animation: spin-variable-speed 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  } */